<div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="bremgarten.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="services-b.html" class="nav-link">Preisliste</a>
    </li>
    <li class="nav-item">
      <a href="gallery-b.html" class="nav-link">Galerie</a>
    </li>
    <li class="nav-item">
      <a href="about-b.html" class="nav-link">Über&nbsp;uns</a>
    </li>
    <li class="nav-item">
      <a href="contact-b.html" class="nav-link">Kontakt</a>
    </li>
    <li class="nav-item active">
      <a href="https://instagram.com/queenbeauty.bremgarten" class="nav-link">Instagram</a>
    </li>
  </ul>
</div>