<div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="affoltern.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="services-a.html" class="nav-link">Preis</a>
    </li>
    <li class="nav-item">
      <a href="gallery-a.html" class="nav-link">Galerie</a>
    </li>
    <li class="nav-item">
      <a href="about-a.html" class="nav-link">Über&nbsp;uns</a>
    </li>
    <li class="nav-item">
      <a href="contact-a.html" class="nav-link">Kontakt</a>
    </li>
    <li class="nav-item active">
      <a href="https://instagram.com/queenbeauty.affolternamalbis" class="nav-link">Instagram</a>
    </li>
  </ul>
</div>