<div class="container ftco-relative">
  <div class="row justify-content-center pb-3">
    <div class="col-md-10 heading-section text-center ftco-animate">
      <div class="col-sm-5">
        <div class="contact-wrap">
          <span class="contact-title">Queen Beauty
        Nails &amp; Lash</span><br>
          <span class="contact-text">Marktgasse 27, 5620 Bremgarten AG, Altstadt<br>
          +41 078 244 8464<br>
          info@yourdomain.com</span>
        </div>
      </div>
      <div class="col-sm-5">
        <style>
          .gmap_canvas {
            position: relative;
            padding-bottom: 75%;
            height: 0;
            overflow: hidden;
          }
          .gmap_canvas iframe {
            position: absolute;
            top: 0;
            left: 0;
            height: 100% !important;
            width: 100% !important;
          }
        </style>
        <div class="gmap_canvas">
          <iframe width="450" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Marktgasse%2027%2C%205620%20Bremgarten&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>