<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Kontakt</span>
        <h2 class="mb-4">Kontaktiere uns</h2>
      </div>
      <div class="col-md-10 ftco-animate mb-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-wrap">
              <span class="contact-title">Queen Beauty Nails &amp; Lash Bremgarten</span><br>
              <span class="contact-text">
                <a href="http://maps.google.com/?q=Marktgasse 27, 5620 Bremgarten">Marktgasse 27, 5620 Bremgarten AG, Altstadt</a><br>
                <a href="tel:+41782448464">+41 78 244 8464</a><br>
                <a href="mailto:info@queenbeauty.ch">info@queenbeauty.ch</a>
              </span>
              <br>
              <br>
              <span class="contact-text">
                <h5>Öffnungszeiten</h5>
                <table>
                  <tr>
                    <td>
                      <h6>Mo - Do</h6>
                    </td>
                    <td>
                      <h6>9:00 - 19:00</h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>Fr</h6>
                    </td>
                    <td>
                      <h6>10:00 - 20:00</h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>Sa</h6>
                    </td>
                    <td>
                      <h6>10:00 - 18:00</h6>
                    </td>
                  </tr>
                </table>
              </span>
              <br>
              <br>
              <span class="contact-text">
                <h5>Anreise mit Auto</h5>
                Mit Auto ist am besten in Obertor Parkhaus parkieren, das gegenüber Denner liegt. Von dem Parkhaus/Tiefgarage gehen Sie nur 1 Minute zu Fuß zu uns. In Obertor Parkhaus ist erste stunde Gratis.
              </span>
              <br>
              <br>
              <span class="contact-text">
                <h5>Anreise mit öffentlichen Verkehrsmitteln</h5>
                Können Sie entweder mit dem Zug S17 nach Haltestelle Bremgarten Obertor fahren oder mit den Bus 231, 322, 332, 339, 444 nach Bremgarten Obertorplatz.
              </span>
              <br>
              <br>
              <span class="contact-text">
                <h5>Termin buchen</h5>
                Wegen Termin Buchen können Sie uns am besten anrufen oder per Whatsapp schreiben. Passen Sie auf, auf welche Filiale Sie  rufen/schreiben . Nur für Allgemeine Fragen usw. schreiben Sie uns per Formular unter oder per email.
                <br>
                <br>
                Danke für Verständnis
              </span>
              <br>
              <br>
              <br>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="gmap_canvas">
              <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Marktgasse%2027%2C%205620%20Bremgarten&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="vr">Tel:
      <a href="tel:+41782448464">+41 78 244 8464</a>
    </h3>
    <div class="row justify-content-center">
      <div class="col-md-10 ftco-animate">
        <form action="https://formsubmit.co/info@queenbeauty.ch" method="post" class="appointment-form" id="email-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="appointment_name" placeholder="Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="appointment_email" placeholder="Email">
                <input type="hidden" name="_autoresponse" value="Vielen Dank für Ihre Frage. Wir beantworten das gleich, wie möglich.">
                <input type="hidden" name="_replyto">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span></div>
                  <select name="_subject" class="form-control">
                    <option value="Bremgarten">Bremgarten</option>
                    <option value="Andere">Andere</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" required="required" name="phone" id="phone" placeholder="Telefon">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="message" cols="30" rows="7" class="form-control" placeholder="Nachricht"></textarea>
              </div>
            </div>
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_template" value="table">
            <input type="hidden" name="_captcha" value="true">
          </div>
          <div class="form-group">
            <input type="submit" value="Senden" id="submit-btn" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>