<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Kontakt</span>
        <h2 class="mb-4">Kontaktiere uns</h2>
      </div>
      <div class="col-md-10 ftco-animate mb-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-wrap">
              <span class="contact-title">Queen Beauty Nails &amp; Lash Affoltern</span><br>
              <span class="contact-text">
                <a href="https://goo.gl/maps/tLKRavn3KFX9PqBC8">Zürichstrasse 53, 8910 Affoltern am Albis</a><br>
                <a href="tel:+41782448464">+41 78 766 6909</a><br>
                <a href="mailto:info@queenbeauty.ch">info@queenbeauty.ch</a>
              </span>
              <br>
              <br>
              <span class="contact-text">
                <h5>Anreise mit Auto</h5>
                Mit Auto ist am besten in vor dem Denner parkieren Wir sind in gleiche Gebäude mit Denner.
              </span>
              <br>
              <br>
              <span class="contact-text">
                <h5>
                  Anreise mit öffentlichen Verkehrsmitteln</h5>
                Können Sie entweder mit den Zug S5, S14 nach Haltestelle Affoltern am Albis fahren oder mit den Bus 200, 225, 212, 215, 214, 217, 223 nach Bahnhof, Affoltern am Albis, nachher gehen 5 min. zu Fuß zu uns.
              </span>
              <br>
              <br>
              <br>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="gmap_canvas">
              <iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2706.951700725541!2d8.448702715619046!3d47.27619867916414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4790063842d817cd%3A0x985a31097f45dbe8!2sZ%C3%BCrichstrasse%2053%2C%208910%20Affoltern%20am%20Albis%2C%20%C5%A0v%C3%BDcarsko!5e0!3m2!1scs!2scz!4v1612476300139!5m2!1scs!2scz" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="vr">Tel:
      <a href="tel:+41782448464">+41 78 244 8464</a>
    </h3>
    <div class="row justify-content-center">
      <div class="col-md-10 ftco-animate">
        <form action="https://formsubmit.co/info@queenbeauty.ch" method="post" class="appointment-form" id="email-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="appointment_name" placeholder="Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="appointment_email" placeholder="Email">
                <input type="hidden" name="_autoresponse" value="Vielen Dank für Ihre Frage. Wir beantworten das gleich, wie möglich.">
                <input type="hidden" name="_replyto">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span></div>
                  <select name="_subject" class="form-control">
                    <option value="Affoltern am Albis">Affoltern am Albis</option>
                    <option value="Andere">Andere</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" required="required" name="phone" id="phone" placeholder="Telefon">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="message" cols="30" rows="7" class="form-control" placeholder="Nachricht"></textarea>
              </div>
            </div>
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_template" value="table">
            <input type="hidden" name="_captcha" value="true">
          </div>
          <div class="form-group">
            <input type="submit" value="Senden" id="submit-btn" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>