<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">contact</span>
        <h2 class="mb-4">Contact Us</h2>
      </div>
      <div class="col-md-10 ftco-animate mb-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-wrap">
              <span class="contact-title">Queen Beauty
        Nails &amp; Lash</span><br>
              <span class="contact-text">
                <a href="http://maps.google.com/?q=Marktgasse 27, 5620 Bremgarten">Marktgasse 27, 5620 Bremgarten AG, Altstadt</a><br>
                <a href="tel:+410782448464">+41 078 244 8464</a><br>
                <a href="mailto:info@queenbeauty.ch">info@queenbeauty.ch</a>
              </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="gmap_canvas">
              <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Marktgasse%2027%2C%205620%20Bremgarten&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="vr">Call Us: <a href="tel:+410782448464">+41 078 244 8464</a>
    </h3>
    <div class="row justify-content-center">
      <div class="col-md-10 ftco-animate">
        <form action="https://formsubmit.co/ngo.andrej@gmail.com" method="post" class="appointment-form" id="email-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="appointment_name" placeholder="Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="appointment_email" placeholder="Email Address">
                <input type="hidden" name="_autoresponse" value="Thank you for contacting us! We will contact you ASAP!">
                <input type="hidden" name="_replyto">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="select-wrap">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span></div>
                  <select name="_subject" class="form-control">
                    <option value="Technical Support">Technical Support</option>
                    <option value="Business Partnership">Business Partnership</option>
                    <option value="Legal & Privacy Questions">Legal &amp; Privacy Questions</option>
                    <option value="Pricing & Services">Pricing &amp; Services</option>
                    <option value="Just saying hi!">Just saying hi!</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
            </div>
            <input type="hidden" name="_captcha" value="false">
          </div>
          <div class="form-group">
            <input type="submit" value="Send" id="submit-btn" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>