<script src="https://apps.elfsight.com/p/platform.js" defer="defer"></script>
<div class="row no-gutters justify-content-center mb-2 pb-2">
  <div class="col-md-6 text-center heading-section ftco-animate">
    <span class="subheading">Galerie</span>
    <h2 class="mb-4">Unsere Galerie</h2>
    <p>Folgen Sie uns auf
      <a href="https://instagram.com/queenbeauty.bremgarten">queenbeauty.bremgarten</a>.
    </p>
  </div>
</div>
<div class="elfsight-app-b198e2f1-8496-4641-8033-9aedb9775922"></div>