<div id="modal" class="modal">
  <div class="modal-content_">
    <div class="modal-header_">
      <span class="close">X</span>
    </div>
    <div style="height: 85%; background: url('images/christmas_sale.webp') no-repeat center; background-size: contain; margin-top: 30px;">
    </div>
  </div>
</div>