<div id="modal" class="modal">
  <div class="modal-content_">
    <div class="modal-header_">
      <span class="close">X</span>
    </div>
    <div class="modal-body" style="background-image: url('images/popup_affoltern.png')">
    </div>
  </div>
</div>