<div id="modal" class="modal">
  <div class="modal-content_">
    <div class="modal-header_">
      <span class="close">X</span>
    </div>
    <div class="modal-body" style="font-size: 45px; padding: 50px; text-align: center">
      Einzige Filiale von Queen Beauty ist nur in Bremgarten.<br />Das Nagelstudio in Affoltern am Albis gehört nicht mehr zu Queen Beauty.<br /><br />
      Danke für Verständnis.
    </div>
    </div>
  </div>
</div>