<div id="modal" class="modal">
  <div class="modal-content_">
    <div class="modal-header_">
      <span class="close">X</span>
    </div>
    <div style="display: flex; position: relative; justify-content: center; align-items: center; margin-bottom: 20px;">
      <picture>
        <img src="../../images/happy_hour_3-19_10_22.webp" alt="" style="height: 70vh">
      </picture>
    </div>
  </div>
</div>