<section id="pricing" class="ftco-section ftco-pricing">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Preis</span>
        <h2 class="mb-4">Unsere Preise</h2>
        <p>Im Vergleich Preis und Leistung sind wir Top in unserem Umgebung!</p>
        <h3>Bei uns 10 % Rabatt für Studenten, Auszubildenden mit Studentenausweis mit Foto bei Gel/Acryl Nägel.</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">ab 30 CHF</h3>
            <p>
              <span class="price">Maniküre inkl. Massage</span>
            </p>
          </div>
          <ul>
            <li>Klassik ohne Farbe - 30 CHF</li>
            <li>Mit Nagellack - 45 CHF</li>
            <li>Mit Shellac - 65 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">ab 50 CHF</h3>
            <p>
              <span class="price">Pediküre inkl. Massage</span>
            </p>
          </div>
          <ul>
            <li>Klassik - 50 CHF</li>
            <li>Mit Nagellack - 65 CHF</li>
            <li>Mit Shellac - 80 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry active pb-5 text-center">
          <div>
            <h3 class="mb-4">ab 65 CHF</h3>
            <p>
              <span class="price">Neumodellage Gel/Acryl</span>
            </p>
          </div>
          <ul>
            <li>Natur (ohne Farbe) - 65 CHF</li>
            <li>Mit Farbe/French/Ombre - 80 CHF</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 50px;">
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">ab 60 CHF</h3>
            <p>
              <span class="price">Auffüllen Gel/Acryl</span>
            </p>
          </div>
          <ul>
            <li>Natur (ohne Farbe) - 60 CHF</li>
            <li>Mit Farbe/French/Ombre - 75 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">&nbsp;</h3>
            <p>
              <span class="price">Sonstiges</span>
            </p>
          </div>
          <ul>
            <li>Shellac für Hände - 40 CHF</li>
            <li>Shellac für Füsse - 40 CHF</li>
            <li>Nagellack - 20 CHF</li>
            <li>Nagelreparatur - 10 CHF</li>
            <li>Gel/Acryl Entfernen - 30 CHF</li>
            <li>Shellac Entfernen - 15 CHF</li>
            <li>Extra Design - ab 3 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">&nbsp;</h3>
            <p>
              <span class="price">Wimpernverlängerung
              </span>
            </p>
          </div>
          <ul>
            <li><b>Klasik Wimpern 1:1 Technik - 115 CHF</b></li>
            <li>Auffüllen bis 3 Wochen - 65 CHF</li>
            <li>Auffüllen bis 4 Wochen - 75 CHF</li>
            <li>Auffüllen bis 5 Wochen - 95 CHF</li>
            <li class="pricing-entry-text">Auffüllen nach 5 Wochen wieder Neu Set</li>
            <li><b>Volume Wimpern - ab 135 CHF</b></li>
            <li>Auffüllen bis 3 Wochen - 75 CHF</li>
            <li>Auffüllen bis 4 Wochen - 85 CHF</li>
            <li>Auffüllen bis 5 Wochen - 105 CHF</li>
            <li class="pricing-entry-text">Auffüllen nach 5 Wochen wieder Neu Set</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>