<section id="pricing" class="ftco-section ftco-pricing">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Preisliste</span>
        <h2 class="mb-4">Unsere Preisliste</h2>
        <p>Im Vergleich Preisliste und Leistung sind wir Top in unserem Umgebung!</p>
        <div class="col-md-12 text-center mt-3">
          <p>
            Zurzeit nur Barzahlung möglich.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-3 text-center">
          <div>
            <h3 class="mb-4">ab 30 CHF</h3>
            <p>
              <span class="price">Maniküre inkl. Massage</span>
            </p>
          </div>
          <ul>
            <li>Klassik ohne Farbe - 30 CHF</li>
            <li>Mit Nagellack - 50 CHF</li>
            <li>Mit Shellac - 65 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-3 text-center">
          <div>
            <h3 class="mb-4">ab 50 CHF</h3>
            <p>
              <span class="price">Pediküre inkl. Massage</span>
            </p>
          </div>
          <ul>
            <li>Klassik - 50 CHF</li>
            <li>Mit Nagellack - 70 CHF</li>
            <li>Mit Shellac - 80 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry active pb-3 text-center">
          <div>
            <h3 class="mb-4">ab 65 CHF</h3>
            <p>
              <span class="price">Neumodellage Gel/Acryl</span>
            </p>
          </div>
          <ul>
            <li>Natur (ohne Farbe) - 65 CHF</li>
            <li>Einfarbig - 80 CHF</li>weitere Farbe - ab +3 CHF
            <li>French - 85 CHF</li>
            <li>Ombre weiß - 85 CHF</li>
            <li>Ombre mit Farbe/Glitzer - 90 CHF</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-3 text-center">
          <div>
            <h3 class="mb-4">ab 60 CHF</h3>
            <p>
              <span class="price">Auffüllen Gel/Acryl</span>
            </p>
          </div>
          <ul>
            <li>Natur (ohne Farbe) - 65 CHF</li>
            <li>Einfarbig - 75 CHF</li>weitere Farbe - ab +3 CHF
            <li>French - 80 CHF</li>
            <li>Ombre weiß - 80 CHF</li>
            <li>Ombre mit Farbe/Glitzer - 85 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-3 text-center">
          <div>
            <h3 class="mb-4">&nbsp;</h3>
            <p>
              <span class="price">Sonstiges</span>
            </p>
          </div>
          <ul>
            <li>Shellac - 45 CHF</li>
            <li>Shellac French - 50 CHF</li>
            <li>Nagellack - 25 CHF</li>
            <li>Nagelreparatur - 10 CHF</li>
            <li>Gel/Acryl Entfernen - 30 CHF</li>
            <li>Shellac Entfernen - 15 CHF</li>
            <li>Zehenmodellage - ab 85 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-3 text-center">
          <div>
            <h3 class="mb-4">&nbsp;</h3>
            <p>
              <span class="price">Extra Design</span>
            </p>
          </div>
          <ul>
            <li>Extra Design - ab 3 CHF/Nagel</li>
            <li>Steinchen - ab 1 CHF</li>
            <li>Extra Glitzer - ab 3 CHF</li>
            <li>Extra Länge - ab 10 CHF</li>
            <li>Sticker - ab 3 CHF/Nagel</li>
            <li>3D Design - ab 5 CHF</li>
            <li>Matt - 5 CHF</li>
            <li>Cat Eyes Farbe/Chrome - ab 15 CHF</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="pricing-entry pb-5 text-center">
          <div>
            <h3 class="mb-4">&nbsp;</h3>
            <p>
              <span class="price">Wimpernverlängerung
              </span>
            </p>
          </div>
          <ul>
            <li><b>Klasik Wimpern 1:1 Technik - ab 115 CHF</b></li>
            <li>Auffüllen bis 3 Wochen - ab 70 CHF</li>
            <li>Auffüllen bis 4 Wochen - ab 80 CHF</li>
            <li>Auffüllen bis 5 Wochen - ab 100 CHF</li>
            <li class="pricing-entry-text">Auffüllen nach 5 Wochen wieder Neu Set</li>
            <li><b>Volume Wimpern - ab 135 CHF</b></li>
            <li>Auffüllen bis 3 Wochen - ab 75 CHF</li>
            <li>Auffüllen bis 4 Wochen - ab 85 CHF</li>
            <li>Auffüllen bis 5 Wochen - ab 105 CHF</li>
            <li class="pricing-entry-text">Auffüllen nach 5 Wochen wieder Neu Set</li>
            <li>Mega Volume/Design Wimpern - ab 10 CHF extra</li>
            <li>Augenbrau zupfen - 15 CHF</li>
            <li>Augenbrau färben - 20 CHF</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-pricing mt-3 mb-5">
      <h3>Studentenrabatt 10 % nur bei Acryl Nägeln Hände</h3>
      <ol>
        <li>Wegen Studentenrabatt müssen Sie bei Kasse sagen. Wenn Sie nichts sagen, bekommen Sie automatisch keine Studentenrabatt, weil Studentenrabatt bei uns keine Verpflichtung ist.</li>
        <li>Nur entweder bei Studenten unter 25 Jahren (mit Stundentenausweis mit Foto)<br>oder Kundinnen jüngere als 18 Jahren (mit Schülernausweis, Ausweis, Swisspass usw.)</li>
        <li>Studentenrabatt ist nicht kombinierbar mit anderen Rabatten.</li>
      </ol>
    </div>
  </div>
</section>