<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Unsere rules</span>
        <h2 class="mb-4">Unsere rules</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-rules mt-3 mb-5">
        <ol>
          <li>Wir bedienen nicht unsere Konkurrenz (wenn ihr etwas zu tun mit Nägeln, Maniküre, Pediküre oder Wimpernverlängerung, egal ob ihr als Nageldesignerin arbeitet und bei uns Fußpflege macht usw.).<br />
            Die Konkurrenz macht uns keine gute Werbung, Rezension und manchmal klauen unser Werk wie eigene.<br />
            Wir haben schon bei unseren Konkurrenten unsere Fotos gefunden und die propagieren wie ihr eigenes Werk.<br />
            Wir möchten nur unseren richtigen Kunden bedienen!</li>
          <li>Wegen Terminen schreiben Sie bitte nur per Whatsapp, Instagram oder rufen Sie uns an. Ein Termin oder Terminänderung durch E-Mail ist bei uns nicht gültig! Die Terminänderung rechtzeitig melden (nicht 1-2 Stunden vorher).</li>
          <li>Wenn Sie auf euren Termin bei uns nicht kommen, dann konnte es passieren, dass Sie bei uns etwas schuldig sind.<br />
            Wenn das passiert mehrmals, bekommen Sie auf unsere Schwarzliste und werden Sie blockiert.<br />
            Wegen dieser Situation können wir nicht gleich anderen Kunden nehmen. Für diesen Kunden ist besser, wenn sie vorbei ohne Termin kommen, dann schauen wir, ob wir Platz hätten.</li>
          <li>Wenn Sie Verspätung hätten, sollten Sie unbedingt gleich melden.<br />Wir schauen, ob es für uns zeitlich passt.<br />Eventuell einen Termin verschieben oder anderen Kunden nehmen.</li>
          <li>Wenn Sie Design, langen Nägeln oder Entfernen und Neu Set machen möchten, fragen Sie bitte auf die Preise.<br />Es kostet natürlich mehr als kurzen Nägeln Auffüllen mit einer Farbe.<br />Wenn Sie nicht fragen, bedeutet es automatisch, dass Sie mit dem Preis zustimmen.<br />Denn unsere Preisliste finden Sie auf unserer Webseite.</li>
          <li>Studentenrabatt 10 % ist nur für Studenten unter 25 Jahren und mit Studentenausweis (Karte mit Foto, Geburtsdatum und Gültigkeit) oder für Kunden unter 18 Jahren mit Ausweis, Swisspass, Schülerausweis dabei. Studentenrabatt 10 % ist nicht kombinierbar mit anderem Rabatt. Wegen Studentenrabatt müssen Sie bei Kasse sagen, wenn Sie nicht sagen, bekommen Sie automatisch kein Studentenrabatt, weil Studentenrabatt bei uns keine Verpflichtung ist.</li>
        </ol>
      </div>
    </div>
  </div>
</section>