<section class="ftco-section ftco-team">
  <div class="container-fluid px-md-5">
    <div class="row justify-content-center pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Artistic Director</span>
        <h2 class="mb-4">Nail Artists</h2>
        <p>Your satisfaction is our mission possible.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="carousel-team owl-carousel">
          <div class="item">
            <a href="#" class="team text-center">
              <div class="img" style="background-image: url(images/stylist-1.jpg);"></div>
              <h2>Mike</h2>
              <span class="position">Nail Master</span>
            </a>
          </div>
          <div class="item">
            <a href="#" class="team text-center">
              <div class="img" style="background-image: url(images/stylist-2.jpg);"></div>
              <h2>Anna</h2>
              <span class="position">Nail Master</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>