<section class="testimony-section bg-light">
	<div class="container">
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-6 col-lg-5 d-flex">
				<div class="testimony-img" style="background-image: url(images/bg-1.jpg);"></div>
			</div>
			<div class="col-md-6 col-lg-7 py-5 pl-md-5">
				<div class="py-md-5">
					<div class="heading-section ftco-animate">
						<span class="subheading">Testimony</span>
						<h2 class="mb-0">What Our Customers Say About Us</h2>
					</div>
					<div class="carousel-testimony owl-carousel ftco-animate">
						<div class="item">
							<div class="testimony-wrap pb-4">
								<div class="text">
									<p class="mb-4">Super arbeit, sehr zufrieden mit dem Ergebnis. Nimmt sich Zeit und ist sehr erfahren. Preis Leistung Top!</p>
								</div>
								<div class="d-flex">
									<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
									<div class="pos ml-3">
										<p class="name">K G</p>
										<span class="position">Google Reviewer</span>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap pb-4">
								<div class="text">
									<p class="mb-4">Preis Leistung TOP</p>
								</div>
								<div class="d-flex">
									<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
									<div class="pos ml-3">
										<p class="name">Jacqueline Fisler</p>
										<span class="position">Google Reviewer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>