<section class="testimony-section bg-light">
		<div class="container">
				<div class="row ftco-animate justify-content-center">
						<div class="col-md-6 col-lg-5 d-flex">
								<div class="testimony-img" style="background-image: url(images/bg-1.jpg);"></div>
						</div>
						<div class="col-md-6 col-lg-7 py-5 pl-md-5">
								<div class="py-md-5">
										<div class="heading-section ftco-animate">
												<span class="subheading">Zeugnis</span>
												<h3 class="mb-0">WAS UNSERE KUNDEN ÜBER UNS SAGEN</h3>
										</div>
										<div class="carousel-testimony owl-carousel ftco-animate">
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Seit gut 16 Jahren lasse ich mir French Nägel machen und das ist mit Abstand das beste Studio! Es wird sehr professionell, sauber und mit guter Geschwindigkeit gearbeitet. Das Acryl weist eine hohe Qualität auf. Der ultimative Test waren die letzten Wochen, weil das Studio aufgrund des Covid-19 geschlossen war. Meine Nägel wurden das letzte Mal am 29. Februar 2020 aufgefüllt und haben bis zum heutigen Auffüllen gehalten (also 9 1/2 Wochen)!</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">Ms Honeypot</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Spontane Termine und wunderschöne Nägel👍</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">Heidi Wildi</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Ich bin sehr zufrieden. Die Inhaber sind sehr liebevoll und anständig und machen eine wirklich tolle Arbeit.</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">// Lockenmädchen //</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Super arbeit, sehr zufrieden mit dem Ergebnis. Nimmt sich Zeit und ist sehr erfahren. Preisliste Leistung Top!</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">K G</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Preisliste Leistung TOP</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">Jacqueline Fisler</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Perfekt Wimpern und Nägeln. Preisliste stimmt hier! Sie sind sehr professionall und püntlich... gerne komme wieder.</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">Sarah Koch</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Ich bin sehr zufrieden. Die Inhaber sind sehr liebevoll und anständig und machen eine wirklich tolle Arbeit.</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">Tina Andjelkovic Stefanelli</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">Bravo! Fantastische Arbeit zu sehr fairen Preislisten! Gerne wieder und absolut zu empfehlen!!</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">Larissa Nussbaumer</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
												<div class="item">
														<div class="testimony-wrap pb-4">
																<div class="text">
																		<p class="mb-4">schnelle & saubere Arbeit.</p>
																</div>
																<div class="d-flex">
																		<div class="user-img" style="background-image: url(images/avatar.jpg)"></div>
																		<div class="pos ml-3">
																				<p class="name">
																						Jasmin Leuenberger</p>
																				<span class="position">Rezensent von Google</span>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>