<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-md text-center d-flex align-items-stretch">
        <div class="services-wrap d-flex align-items-center img" style="background-image: url(images/work-2.jpg);">
          <div class="text">
            <h3>Nägel</h3>
            <p>
              <a href="#pricing" class="btn-custom">Siehe Preise <span class="ion-ios-arrow-round-forward"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-items-stretch">
        <div class="text-about py-5 px-4">
          <h1 class="logo">
            <a href="#" style="font-family: 'Berkshire Swash'">
              <img src="images/logo.svg" alt="Logo" width="180" height="100">
              <br>Queen Beauty
							<br>Nails &amp; Lash</a>
          </h1>
          <h2>Willkommen Sie bei uns!</h2>
          <p>Wir sind ganz neues Nagelstudio mit ausgebildeten Personal in Bremgarten AG mit professionellen Handpﬂegen, Fußpﬂegen und Wimpernpﬂegen für Öffentlichkeit.</p>
          <p class="mt-3">
            <a href="about.html" class="btn btn-primary btn-outline-primary">Weiterlesen</a>
          </p>
        </div>
      </div>
      <div class="col-md text-center d-flex align-items-stretch">
        <div class="services-wrap d-flex align-items-center img" style="background-image: url(images/work-3.jpg);">
          <div class="text">
            <h3>Wimpern</h3>
            <p>
              <a href="#pricing" class="btn-custom">Siehe Preise <span class="ion-ios-arrow-round-forward"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>