{% extends "layout/layout-b.njk" %}

{% block content %}

  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg-1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h2 class="mb-0 bread">Galerie</h2>
          <p class="breadcrumbs">
            <span class="mr-2">
              <a href="bremgarten.html">Home&nbsp;<i class="ion-ios-arrow-round-forward"></i>
              </a>
            </span>
            <span>Galerie&nbsp;<i class="ion-ios-arrow-round-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  {% include './components/full_gallery_block-b.njk' %}

{% endblock %}}