{% extends "layout/layout.njk" %}

{% block content %}
  <section class="hero-wrap js-fullheight" style="background-image: url(images/bg-2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
        <div class="col-lg-12 ftco-animate d-flex align-items-center">
          <div class="text text-center">
            <span class="subheading">Queen Beauty Nails &amp; Lash</span>
            <h1 class="mb-4">Willkommen&nbsp;Sie&nbsp;bei&nbsp;uns!</h1>
            <div>
              <p class="text-news-info">Einige Informationen im Voraus:</p>
              <div class="text-news-small">
                <ul>
                <li>Die Kunden mit Krankheitssymptome dürfen uns nicht besuchen und sollen den Termin verschieben.</li>
                <li>Es ist nicht möglich mit Begleitung kommen, sondern nur allein, außerdem Mütter mit kleinen Kindern.</li>
                <li>Unsere Kunden werden nach Eintritt in unseren Betrieb gleich die Hände waschen mit Seife.</li>
                <li>Nachher werden Sie die Hände desinfizieren und bekommen von uns eine Mundschutzmaske, wenn Sie noch nicht haben.</li>
                </ul>
              </div>
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

{% include './components/welcome_block.njk' %}

{% include './components/gallery_block.njk' %}

{% include './components/pricing_block.njk' %}

{% include './components/testimony_block.njk' %}

{% endblock %}